.banner
{
background: url(../img/ss.jpg) no-repeat;
width: 100%;
height:100%;
}

h1
{
  text-align: center;
  font-style:normal;
  font-size: 90px;
  color: rgb(97,189,38);
}
h2
{
  text-align: center;
  font-style:italic;
  font-size: 60px;
  color: rgb(23,51,5);
}
h3
{
  margin-top: 240px;
}
p
{
  margin-left: 400px;
  color: rgb(236,66,2);
  font-size: 60px;
  font-style: italic;
}
input
{
  margin-left: 570px;
  width:160px;
  height:40px;
  font-size: 20px;
  font-style: normal;
  cursor:pointer;
  position: relative;
  top: -55px;
  color: white;
  background:rgb(236,66,2);
}
input:hover
{
  color:rgb(236,66,2) ;
  background:white;
}
