.banner
{
background: url(../img/ss.jpg) no-repeat;
background-position: center;
background-size:cover;

}
h1
{
  text-align:center;
  font-style:normal;
  font-size: 100px;
  color: rgb(97,189,38);
}
h2
{
  text-align: center;
  font-style:italic;
  font-size: 70px;
  color: rgb(23,51,5);
}
h3
{
  margin-top: 320px;
  text-align: center;
}
p
{
  color: rgb(236,66,2);
  font-size: 80px;
  font-style: italic;
}
input
{
  width:160px;
  height:40px;
  font-size: 20px;
  font-style: normal;
  cursor:pointer;
  position: relative;
  top: -55px;
  color: white;
  background:rgb(236,66,2);
}
input:hover
{
  color:rgb(236,66,2) ;
  background:white;
}
